// ==============================
// Override Variables
// 覆盖变量
// ==============================
$global-background-color: #faf8ff !default;
$global-background-color-dark: #292a2d !default;
$global-background-card-color: #fff !default;
$global-background-card-color-dark: #333 !default;
